

.create-expense-menu-container{
    width: 100%;
    height: 90vh;
    background-color: white;
    border-radius: 5px;
}


.create-expense-menu-container .header{
    text-align: center;
    padding-top: 2%;
    color: var(--text-black);
    font-family: var(--main-font);
    font-size: 2em;
    font-weight: bold;
}


#category-header{
    padding-left: 5%;
    color: var(--text-black);
    font-size: 1.2em;
    font-family: var(--main-font);
}


.create-expense-menu-label{
    color: var(--text-black);
    font-size: 1.2em;
    font-family: var(--main-font);
}


.categories-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


.inputs-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.category-btn{
    display: flex;
    text-align: left !important;
    width: 48%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1em;
    border: none;
    color: white;
    text-transform: capitalize;
}


.category-btn:focus{
    background-color: red;
}


#active-category{
    color: var(--main-blue);
    text-transform: capitalize;
}


.category-btn:hover{
    color: var(--text-black);
}


.create-expense-menu-input{
    margin-top: 2%;
    margin-bottom: 2%;
}


.create-expense-menu-container .submit-btn{
    font-family: var(--main-font);
    background-color: var(--main-blue);
    color: white;
    border: none;
    margin: 5%;
}


.create-expense-menu-container .submit-btn:hover{
    background-color: var(--sec-blue);
}
